Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

fix(docker): create missing production Dockerfiles
  donaction-api/docker/production/Dockerfile
  donaction-frontend/docker/production/Dockerfile
  donaction-saas/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(workflow): use secrets instead of vars for webhook URLs
  .github/workflows/build.yml
Due: none

fix(security): validate donorPaysFee against trade_policy setting
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

perf(workflow): use 7-char short SHA for image tags
  .github/workflows/build.yml
Due: none

fix(workflow): add error handling for notifications
  .github/workflows/build.yml
Due: none

fix(ci): add type checking to frontend workflow
  .github/workflows/ci.yml
Due: none

perf(workflow): add build timeout and silent curl
  .github/workflows/build.yml
Due: none

feat(idempotency): add cron job to cleanup stale idempotency keys
  donaction-api/config/cronTasks.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

docs: update API docs with payment endpoint params and Stripe Connect
  docs/memory-bank/backend/API_DOCS.md
Due: none

fix(workflow): correct webhook conditional syntax
  .github/workflows/build.yml
Due: none

feat(payment): implement dual payment path with Stripe Connect and idempotency support
  docs/tasks/2025_12_21-phase-3-payment-flow-migration.review.md
Due: none

perf(docker): add app-specific .dockerignore files
  donaction-admin/.dockerignore
  donaction-api/.dockerignore
  donaction-frontend/.dockerignore
  donaction-saas/.dockerignore
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(docker): standardize package manager to npm in frontend
  donaction-frontend/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(workflow): add webhook notification logging
  .github/workflows/build.yml
Due: none

feat(docker): inject env vars via GitHub secrets instead of .env files
  .github/workflows/build.yml
  docs/tasks/issue-37-dockerfile-secrets.plan.md
  donaction-admin/docker/recette/Dockerfile
  donaction-api/docker/production/Dockerfile
  donaction-api/docker/recette/Dockerfile_api
  donaction-frontend/docker/production/Dockerfile
  donaction-frontend/docker/recette/Dockerfile_front
  donaction-saas/docker/production/Dockerfile
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

feat(docker): add Angular admin secrets injection via build-args
  .github/workflows/build.yml
  donaction-admin/docker/production/Dockerfile
  donaction-admin/src/environments/environment.prod.ts
  donaction-admin/src/environments/environment.re7.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

fix(docker): prevent secret exposure in API image layers
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(workflow): use GitHub Environments for secret namespacing
  .github/workflows/build.yml
Due: none

fix(docker): add secret validation to all Dockerfiles
  aidd/prompts/ide/00_flows/auto_implement.md
  docs/tasks/2025_12_21-workflow-build-docker.review.md
  docs/tasks/2025_12_22-dockerfile-env-secrets-refactor.plan.md
  donaction-admin/docker/production/Dockerfile
  donaction-api/docker/production/Dockerfile
  donaction-frontend/docker/production/Dockerfile
  donaction-saas/docker/production/Dockerfile
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(workflow): filter secrets per app
  .github/workflows/build.yml
Due: none

fix(docker): add sed replacement validation for admin
  donaction-admin/docker/production/Dockerfile
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

fix(workflow): fail on unknown branch patterns
  .github/workflows/build.yml
Due: none

fix(docker): address PR review recommendations
  .github/workflows/build.yml
  docs/github-configuration-guide.md
  donaction-admin/docker/production/Dockerfile
  donaction-admin/src/environments/environment.prod.ts
  donaction-admin/src/environments/environment.re7.ts
  donaction-api/docker/production/Dockerfile
  donaction-saas/docker/production/Dockerfile
Due: package_admin:dev, package_admin:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_API:prod

docs: add guide for adding new secrets to apps
  docs/github-configuration-guide.md
Due: none

fix(docker): add API runtime secret validation and quote .env values
  donaction-api/docker/production/Dockerfile
  donaction-api/docker/production/entrypoint.sh
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(workflow): add deploy-staging workflow
  .github/workflows/deploy-staging.yml
  docs/tasks/issue-24-deploy-staging.plan.md
  infrastructure/staging/docker-compose.yml
  infrastructure/staging/env.template
  infrastructure/staging/nginx/donaction.conf
Due: none

fix(deploy): address PR review issues 1-20
  .github/workflows/deploy-staging.yml
  infrastructure/staging/README.md
  infrastructure/staging/docker-compose.yml
  infrastructure/staging/env.template
Due: none

fix(deploy): address PR review issues 1-20
  .github/workflows/deploy-staging.yml
  infrastructure/staging/docker-compose.yml
Due: none

fix(nginx): add rewrite rule for Angular admin routing
  infrastructure/staging/nginx/donaction.conf
Due: none

feat(deploy): add required secrets validation
  .github/workflows/deploy-staging.yml
Due: none

feat(deploy): add comprehensive container health checks
  .github/workflows/deploy-staging.yml
Due: none

feat(deploy): include .env in backup and rollback
  .github/workflows/deploy-staging.yml
Due: none

fix(deploy): fix port regex, complete env template, reorder nginx reload
  .github/workflows/deploy-staging.yml
  infrastructure/staging/env.template
Due: none

refactor(ports): align staging ports to avoid Klubr conflicts
  .github/workflows/deploy-staging.yml
  infrastructure/staging/docker-compose.yml
  infrastructure/staging/nginx/donaction.conf
Due: none

fix(deploy): add missing environment variables to .env generation
  .github/workflows/deploy-staging.yml
Due: none

feat(deploy): add DATABASE_SSL configuration for PostgreSQL
  .github/workflows/deploy-staging.yml
  infrastructure/staging/env.template
Due: none

fix(deploy): pull previous Docker images during rollback
  .github/workflows/deploy-staging.yml
Due: none

fix(deploy): fix port check regex to match Docker format
  .github/workflows/deploy-staging.yml
Due: none

fix(deploy): scope image cleanup to Donaction images only
  .github/workflows/deploy-staging.yml
Due: none

fix(deploy): use GNU stat command for Ubuntu runners
  .github/workflows/deploy-staging.yml
Due: none
