Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

package_admin:dev:
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_FILE_PATH: donaction-admin/docker/recette/Dockerfile
    IMAGE_NAME: nakaadev/donaction-admin
    TAG: dev
  before_script:
  - - .docker_buildx_template
  ...

package_admin:prod:
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_FILE_PATH: donaction-admin/docker/production/Dockerfile
    IMAGE_NAME: nakaadev/donaction-admin
    TAG: prod
  before_script:
  ...

package_frontend:dev:
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_FILE_PATH: donaction-frontend/docker/recette/Dockerfile_front
    IMAGE_NAME: nakaadev/donaction-frontend
    TAG: dev
  before_script:
  ...

package_frontend:prod:
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_FILE_PATH: donaction-frontend/docker/production/Dockerfile_front
    IMAGE_NAME: nakaadev/donaction-frontend
    TAG: prod
  before_script:
  ...

package_api:dev:
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_FILE_PATH: donaction-api/docker/recette/Dockerfile_api
    IMAGE_NAME: nakaadev/donaction-api
    TAG: dev
  before_script:
  ...

package_api:prod:
  image: docker:24-cli
  services:
  - docker:24-dind
  variables:
    DOCKER_DRIVER: overlay2
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ''
    DOCKER_FILE_PATH: donaction-api/docker/production/Dockerfile_api
    IMAGE_NAME: nakaadev/donaction-api
    TAG: prod
  before_script:
  ...

deploy_admin:dev:
  stage: Deploy
  variables:
    TARGET_HOST: $HOST_STG
    SHELL_COMMAND: 'docker pull nakaadev/donaction-admin:dev && cd /home/debian/donaction-service/development && docker-compose down && docker-compose up -d '
    IMAGE_TAG: 3
  dependencies:
  - package_admin:dev
  when: manual
  needs:
  - package_admin:dev

deploy_admin:prod:
  stage: Deploy
  variables:
    TARGET_HOST: $HOST_PROD
    SHELL_COMMAND: 'docker pull nakaadev/donaction-admin:prod && cd /home/debian/donaction-service/production && docker-compose down && docker-compose up -d '
    IMAGE_TAG: 3
  dependencies:
  - package_admin:prod
  when: manual
  needs:
  - package_admin:prod

deploy_API:dev:
  stage: Deploy
  variables:
    TARGET_HOST: $HOST_STG
    SHELL_COMMAND: docker pull nakaadev/donaction-api:dev && cd /home/debian/donaction-service/development && docker-compose down && docker-compose up -d && docker image prune -a -f
    IMAGE_TAG: 3
  dependencies:
  - package_api:dev
  when: manual
  needs:
  ...

feat: modernize to Angular 21 signal-based APIs (Phase 4)
  donaction-admin/src/app/routes/admin-sandbox/ui/editor-sandbox/editor-sandbox.component.ts
  donaction-admin/src/app/routes/dashboard/dashboard.component.ts
  donaction-admin/src/app/routes/klub-house/klub-house-update/klub-house-update.component.ts
  donaction-admin/src/app/routes/klub/ui/legal-information/legal-information.component.ts
  donaction-admin/src/app/shared/components/app-menu.component.ts
  donaction-admin/src/app/shared/components/form/editor/editor.component.html
  donaction-admin/src/app/shared/components/form/editor/editor.component.ts
  donaction-admin/src/app/shared/components/form/form-media-update/form-media-update.component.ts
  donaction-admin/src/app/shared/components/form/sections-strapi/section-txt-img/section-txt-img.component.ts
  donaction-admin/src/app/shared/components/form/upload-avatar/avatar-selector/avatar-selector.component.ts
  donaction-admin/src/app/shared/components/generics/generic-listing/generic-listing.component.ts
  donaction-admin/src/app/shared/components/generics/generic-update/generic-update.component.ts
  donaction-admin/src/app/shared/components/header/header.component.ts
  donaction-admin/src/app/shared/components/medias/informations-image-card/informations-image-card.component.ts
  donaction-admin/src/app/shared/components/member/link-member/link-member.component.ts
  donaction-admin/src/app/shared/components/project/project-state-dropdown/project-state-dropdown.component.ts
  donaction-admin/src/app/shared/components/sidebar/sidebar.component.html
  donaction-admin/src/app/shared/user/user-card/user-card.component.html
  donaction-admin/src/app/shared/user/user-card/user-card.component.ts
  donaction-admin/src/app/shared/utils/Directives/scroll-near-end-directive.directive.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

docs: update documentation for Angular 21 migration
  aidd/skills/admin/generic-update-component.md
  aidd/skills/admin/reactive-form.md
  aidd/skills/admin/standalone-component.md
  docs/memory-bank/admin/AGENTS.md
  donaction-admin/docs/angular-21-migration/README.md
  donaction-admin/docs/angular-21-migration/phase5-validation-report.md
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

fix: address PR review feedback for Angular 21 migration
  donaction-admin/src/app/routes/admin-sandbox/ui/editor-sandbox/editor-sandbox.component.ts
  donaction-admin/src/app/routes/dashboard/dashboard.component.ts
  donaction-admin/src/app/shared/components/app-menu.component.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

feat: migrate admin to PrimeNG v21
  docs/tasks/2025_12_19-primeng-v21-deprecation-fixes.md
  docs/tasks/2025_12_19-primeng-v21-migration.md
  donaction-admin/package-lock.json
  donaction-admin/package.json
  donaction-admin/src/app/routes/dashboard/dashboard.component.ts
  donaction-admin/src/app/routes/don/ui/don-filters/don-filters.component.ts
  donaction-admin/src/app/routes/klub-house/klub-house-update/klub-house-update.component.html
  donaction-admin/src/app/routes/klub-house/klub-house-update/klub-house-update.component.ts
  donaction-admin/src/app/routes/klub/ui/klub-filters/klub-filters.component.ts
  donaction-admin/src/app/routes/members/ui/member-filters/member-filters.component.ts
  donaction-admin/src/app/routes/profile/ui/profile/profile.component.ts
  donaction-admin/src/app/routes/project/ui/update/project-update.component.html
  donaction-admin/src/app/shared/components/header/header.component.html
  donaction-admin/src/app/shared/components/medias/image-cropper-dialog/image-cropper-dialog.component.html
  donaction-admin/src/app/shared/components/project/project-change-limit-date/project-change-limit-date.component.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

refactor: improve PrimeNG v21 migration type safety
  donaction-admin/src/app/routes/klub-house/klub-house-update/klub-house-update.component.ts
  donaction-admin/src/app/routes/project/ui/update/project-update.component.ts
  donaction-admin/src/app/shared/components/medias/image-cropper-dialog/image-cropper-dialog.component.html
  donaction-admin/src/app/shared/components/medias/image-cropper-dialog/image-cropper-dialog.component.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

chore: add code review documentation and update gitignore
  .gitignore
  docs/tasks/2025_12_19_primeng-v21-migration.review.md
Due: none

fix: remove type cast workaround for severity in project update component
  docs/tasks/2025_12_19_primeng-v21-migration.review.md
  donaction-admin/src/app/routes/project/ui/update/project-update.component.html
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

feat: add Stripe Connect database foundation and schema
  docs/tasks/2025_12_19-stripe-connect-database-foundation.md
  donaction-api/src/_types.ts
  donaction-api/src/api/connected-account/content-types/connected-account/schema.json
  donaction-api/src/api/financial-audit-log/content-types/financial-audit-log/schema.json
  donaction-api/src/api/klub-don-payment/content-types/klub-don-payment/schema.json
  donaction-api/src/api/klub-don/services/klub-don.ts
  donaction-api/src/api/klubr-document/content-types/klubr-document/schema.json
  donaction-api/src/api/klubr/content-types/klubr/schema.json
  donaction-api/src/api/receipt-cancellation/content-types/receipt-cancellation/schema.json
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/src/api/webhook-log/content-types/webhook-log/schema.json
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

docs: add code review for Phase 1 implementation
  docs/tasks/2025_12_20-stripe-connect-database-foundation.review.md
Due: none

refactor: add error handling to createConnectedAccount
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add inversedBy to connected-account relation
  donaction-api/src/api/connected-account/content-types/connected-account/schema.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: translate error message to French
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add visual debug logging for Stripe operations
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add orphaned account tracking for Stripe Connect
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add inversedBy to klubr.connected_account relation
  donaction-api/src/api/klubr/content-types/klubr/schema.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add validation to calculateApplicationFee
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: pin Stripe API version for stability
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: validate STRIPE_SECRET_KEY before initialization
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: standardize logging language to French
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: update Stripe API version to 2025-02-24.acacia
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(stripe-connect): implement account creation, webhooks, and sync automation
  ENV_CONFIGURATION_GUIDE.md
  docs/tasks/2025_12_20-phase-2-stripe-integration.md
  docs/tasks/2025_12_20-stripe-connect-env-variables.md
  donaction-api/config/cronTasks.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
  donaction-api/src/api/stripe-connect/routes/stripe-connect-custom.ts
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
  donaction-api/src/cron/sync-stripe-accounts.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(stripe-connect): pass strapi instance to retryFailedWebhooks
  docs/tasks/2025_12_20-phase-2-stripe-integration.review.md
  donaction-api/src/cron/sync-stripe-accounts.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

chore(ci): add GitHub repository configuration setup
  CODEOWNERS
  docs/github-configuration-guide.md
  docs/tasks/2025_12_20-github-initial-configuration.md
Due: none

refactor(stripe-connect): add production guard and structured logging to cron job
  donaction-api/config/cronTasks.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

docs: add code review report for GitHub configuration
  docs/tasks/2025_12_20-github-initial-configuration.review.md
Due: none

refactor(stripe-connect): add comprehensive type guards for webhook events
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(cron): standardize all cron job logging with structured format
  donaction-api/config/cronTasks.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): add Strapi v5 sanitization to all controller actions (SECURITY)
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): improve webhook raw body handling (SECURITY)
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): use documentId instead of id for webhook-log updates
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(stripe-connect): improve type safety for webhook payloads
  donaction-api/src/_types.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): prevent error message leakage in HTTP responses (SECURITY)
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: add environment validation and standardize cron format
  donaction-api/config/cronTasks.ts
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

ci(workflow): add lint and type check workflow for monorepo
  .github/workflows/ci.yml
  docs/tasks/2025_12_21-ci-workflow-lint-types.md
Due: none

docs: add code review report for CI workflow implementation
  docs/tasks/2025_12_21-ci-workflow-lint-types.review.md
Due: none

fix: resolve TypeScript build errors in stripe-connect
  donaction-api/src/_types.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
  donaction-api/src/types/koa.d.ts
  donaction-api/types/generated/components.d.ts
  donaction-api/types/generated/contentTypes.d.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

ci(workflow): add docker build workflow for GHCR deployment
  .github/workflows/build.yml
  docs/tasks/2025_12_21-workflow-build-docker.md
Due: none

feat(stripe-connect): add dual payment path with idempotency support
  docs/tasks/2025_12_21-phase-3-payment-flow-migration.md
  donaction-api/src/api/connected-account/content-types/connected-account/schema.json
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/api/klub-don-payment/services/klub-don-payment.ts
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/src/helpers/idempotency-helper.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/types/generated/contentTypes.d.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step4/step4.svelte
  donaction-saas/src/components/sponsorshipForm/logic/api.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: add strapi type declaration in idempotency-helper
  donaction-api/src/helpers/idempotency-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: store application_fee_amount in cents (consistent with Stripe)
  donaction-api/src/api/klub-don-payment/services/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*
