Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

refactor: add validation to calculateApplicationFee
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add inversedBy to klubr.connected_account relation
  donaction-api/src/api/klubr/content-types/klubr/schema.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: pin Stripe API version for stability
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: validate STRIPE_SECRET_KEY before initialization
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: update Stripe API version to 2025-02-24.acacia
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: standardize logging language to French
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): pass strapi instance to retryFailedWebhooks
  docs/tasks/2025_12_20-phase-2-stripe-integration.review.md
  donaction-api/src/cron/sync-stripe-accounts.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(stripe-connect): implement account creation, webhooks, and sync automation
  ENV_CONFIGURATION_GUIDE.md
  docs/tasks/2025_12_20-phase-2-stripe-integration.md
  docs/tasks/2025_12_20-stripe-connect-env-variables.md
  donaction-api/config/cronTasks.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
  donaction-api/src/api/stripe-connect/routes/stripe-connect-custom.ts
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
  donaction-api/src/cron/sync-stripe-accounts.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

refactor(stripe-connect): add comprehensive type guards for webhook events
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(stripe-connect): add production guard and structured logging to cron job
  donaction-api/config/cronTasks.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): add Strapi v5 sanitization to all controller actions (SECURITY)
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(cron): standardize all cron job logging with structured format
  donaction-api/config/cronTasks.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): improve webhook raw body handling (SECURITY)
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(stripe-connect): use documentId instead of id for webhook-log updates
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(stripe-connect): improve type safety for webhook payloads
  donaction-api/src/_types.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: add environment validation and standardize cron format
  donaction-api/config/cronTasks.ts
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(stripe-connect): prevent error message leakage in HTTP responses (SECURITY)
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(stripe-connect): add dual payment path with idempotency support
  docs/tasks/2025_12_21-phase-3-payment-flow-migration.md
  donaction-api/src/api/connected-account/content-types/connected-account/schema.json
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/api/klub-don-payment/services/klub-don-payment.ts
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/src/helpers/idempotency-helper.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/types/generated/contentTypes.d.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step4/step4.svelte
  donaction-saas/src/components/sponsorshipForm/logic/api.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: resolve TypeScript build errors in stripe-connect
  donaction-api/src/_types.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
  donaction-api/src/types/koa.d.ts
  donaction-api/types/generated/components.d.ts
  donaction-api/types/generated/contentTypes.d.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: add strapi type declaration in idempotency-helper
  donaction-api/src/helpers/idempotency-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: store application_fee_amount in cents (consistent with Stripe)
  donaction-api/src/api/klub-don-payment/services/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(idempotency): add cron job to cleanup stale idempotency keys
  donaction-api/config/cronTasks.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(security): validate donorPaysFee against trade_policy setting
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(payment): implement dual payment path with Stripe Connect and idempotency support
  docs/tasks/2025_12_21-phase-3-payment-flow-migration.review.md
Due: none

docs: update API docs with payment endpoint params and Stripe Connect
  docs/memory-bank/backend/API_DOCS.md
Due: none

fix(deploy): validate SSH key exists before deployment
  .github/actions/deploy-containers/action.yml
Due: none

docs(rollback): document limitations and manual intervention needs
  .github/actions/rollback/action.yml
Due: none

feat(actions): make timeouts configurable in health-check and deploy-containers
  .github/actions/deploy-containers/action.yml
  .github/actions/health-check/action.yml
Due: none

fix(docker): update PostgreSQL container name and related documentation
  README.md
  docker-compose.yml
Due: none

fix(api): replace `as any` with proper UID.ContentType typing
  donaction-api/src/api/klubr/controllers/klubr.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

docs(actions): add README with usage and inputs documentation
  .github/actions/README.md
Due: none

fix(security): remove secret-logging cat .env from Dockerfile
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(security): use centralized Stripe client with validated API key
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): add error logging to rollback function
  donaction-api/src/api/klubr/controllers/klubr.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(frontend): add type guard for caught error in klubr create route
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(ci): add dummy STRAPI_API_TOKEN for frontend build validation
  .github/workflows/ci.yml
Due: none

fix(env): update .env.example with STRIPE_WEBHOOK_SECRET_CONNECT and adjust STRAPI_API_TOKEN usage
  .github/workflows/ci.yml
  donaction-api/.env.example
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(docs): update coding rules to use NEXT_PUBLIC_STRAPI_API_TOKEN for frontend API token
  docs/rules/backend/strapi-v5/strapi-v5-coding-rules.md
Due: none

fix(api): refactor reCaptcha token handling in multiple endpoints
  donaction-api/src/api/contact/controllers/contact.ts
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/api/klub-don/controllers/klub-don.ts
  donaction-api/src/api/klubr-membre/controllers/klubr-membre.ts
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/api/newsletter/controllers/newsletter.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(ci): add dummy STRAPI_API_TOKEN for build-time validation in frontend
  .github/workflows/ci.yml
Due: none
