Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

fix(docker): uncomment necessary COPY commands and entrypoint in Dockerfile
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): uncomment necessary COPY commands in Dockerfile
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): add STRAPI_PUBLIC_URL build arg for correct admin asset paths
  .github/workflows/build.yml
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(ci): migrate non-sensitive secrets to repository variables
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  donaction-admin/Dockerfile
  donaction-api/docker/development/DockerfileTest
  donaction-api/docker/development/DockerfileTestOk
  donaction-api/docker/production/Dockerfile
  donaction-api/docker/production/Dockerfile_api
  infrastructure/production/env.template
  infrastructure/staging/env.template
Due: package_admin:dev, package_admin:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_API:prod

refactor(ci): migrate non-sensitive secrets to repository variables
  donaction-frontend/README.md
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(ci): update build arguments to use repository variables for API URLs
  .github/workflows/build.yml
Due: none

docs(ci): clarify intentional dev tag usage in staging pre-validation
  .github/workflows/deploy-production.yml
  infrastructure/production/nginx/donaction - Copie.conf:Zone.Identifier
  infrastructure/staging/nginx/donaction - Copie.conf:Zone.Identifier
Due: none

docs: update environment variables doc for secrets→variables migration
  docs/memory-bank/ENVIRONMENT-VARIABLES.md
Due: none

Fix deploy on demo branch (#48)
  .env.example
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  ENV_CONFIGURATION_GUIDE.md
  docker-compose.yml
  docs/memory-bank/ENVIRONMENT-VARIABLES.md
  donaction-admin/Dockerfile
  donaction-admin/README.md
  donaction-api/.env.example
  donaction-api/README.md
  donaction-api/config/logger.ts
  donaction-api/docker/development/DockerfileTest
  donaction-api/docker/development/DockerfileTestOk
  donaction-api/docker/production/Dockerfile
  donaction-api/docker/production/Dockerfile_api
  donaction-frontend/README.md
  donaction-saas/README.md
  infrastructure/production/env.template
  infrastructure/production/nginx/donaction - Copie.conf:Zone.Identifier
  infrastructure/staging/env.template
  infrastructure/staging/nginx/donaction - Copie.conf:Zone.Identifier
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

refactor(ci): extract composite actions for Docker build workflow
  .github/actions/docker-build-push/action.yml
  .github/actions/notify/action.yml
  .github/workflows/build.yml
Due: none

chore(docs): update version numbers to v1.2 in README.md
  donaction-admin/README.md
  donaction-api/README.md
  donaction-frontend/README.md
  donaction-saas/README.md
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

refactor(ci): extract composite actions for deploy workflows
  .github/actions/cleanup-images/action.yml
  .github/actions/deploy-containers/action.yml
  .github/actions/health-check/action.yml
  .github/actions/notify/action.yml
  .github/actions/rollback/action.yml
  .github/actions/ssh-setup/action.yml
  .github/actions/validate-secrets/action.yml
  .github/templates/env.production.template
  .github/templates/env.staging.template
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/tasks/2025_12_30-refactor-deploy-workflows-dry.md
Due: none

fix(ci): add missing GCC environment variables to deploy workflows
  .github/templates/env.production.template
  .github/templates/env.staging.template
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/memory-bank/ENVIRONMENT-VARIABLES.md
  docs/tasks/2025_12_30-gcc-environment-variables.md
Due: none

feat(logging): add debug logs to access token and API key retrieval functions
  donaction-api/src/helpers/gcc/getAccessToken.ts
  donaction-api/src/helpers/gcc/getApiKeyDetails.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(ci): add GCP credentials support for API runtime
  .github/actions/gcc-credentials/action.yml
  .github/templates/env.production.template
  .github/templates/env.staging.template
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/memory-bank/ENVIRONMENT-VARIABLES.md
  infrastructure/production/docker-compose.yml
  infrastructure/staging/docker-compose.yml
Due: none

fix(ci): derive NEXT_PUBLIC_SERVER_COMPONENTS_DEV_API_URL from STRAPI_PUBLIC_URL
  .github/workflows/build.yml
  donaction-frontend/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(admin): correct nginx config for path rewrite compatibility
  donaction-admin/nginx/nginx.conf
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

fix(ci): add NEXT_CONTAINER_SITE_URL for server-side API proxy
  .github/workflows/build.yml
  donaction-frontend/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(nginx): add trailing slash redirect for /admin path
  infrastructure/production/nginx/donaction.conf
  infrastructure/staging/nginx/donaction.conf
Due: none

fix(ci): copy .env file to runner stage for runtime env vars
  donaction-frontend/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(nginx): increase admin rate limit burst for Angular chunk loading
  infrastructure/production/nginx/donaction.conf
  infrastructure/staging/nginx/donaction.conf
Due: none

fix(ci): add missing ImageKit folder env vars for API
  .github/templates/env.production.template
  .github/templates/env.staging.template
Due: none

fix(imagekit): update ImageKit URL endpoint to use 'donaction' for all references
  donaction-admin/src/app/routes/help-center/ui/help-center/help-center.component.html
  donaction-admin/src/app/routes/project/ui/new-project/new-project.component.html
  donaction-admin/src/app/routes/project/ui/update/project-update.component.html
  donaction-admin/src/app/shared/pipes/media/media.pipe.ts
  donaction-admin/src/index.html
  donaction-api/.env.example
  donaction-api/config/cronTasks.ts
  donaction-api/config/plugins.ts
  donaction-frontend/src/app/(main)/clubs/page.tsx
  donaction-frontend/src/app/(main)/conditions-generales-d-utilisation/page.tsx
  donaction-frontend/src/app/(main)/mecenat/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/page.tsx
  donaction-frontend/src/app/(main)/new-club/page.tsx
  donaction-frontend/src/app/(main)/page.tsx
  donaction-frontend/src/app/(main)/politique-de-confidentialite/page.tsx
  donaction-frontend/src/app/(main)/profile/page.tsx
  donaction-frontend/src/app/(main)/projets/page.tsx
  donaction-frontend/src/core/helpers/srcLoader.ts
  donaction-frontend/src/layouts/components/media/ImageHtml.tsx
  donaction-frontend/src/layouts/components/media/ImageKit.tsx
  donaction-frontend/src/layouts/partials/clubPage/ourSponsors/index.tsx
  donaction-saas/src/components/sponsorshipForm/components/contribution/Contribution.svelte
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(contact): make imageUrl optional and conditionally render images in ContactUsForm
  donaction-frontend/package-lock.json
  donaction-frontend/public/images/icons/contact/contact.svg
  donaction-frontend/src/app/(main)/contact/page.tsx
  donaction-frontend/src/layouts/partials/authentication/contactUsForm/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(page): import ImageHtml component for enhanced media rendering
  donaction-frontend/src/app/(main)/contact/page.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(email): comment out 'hamach78@gmail.com' email references in email service files
  donaction-api/src/api/klub-don/services/klub-don.ts
  donaction-api/src/helpers/emails/emailService.ts
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(donation): add donationEligible prop to conditionally render donation features
  donaction-frontend/src/app/[slug]/nos-projets/[projectSlug]/page.tsx
  donaction-frontend/src/app/[slug]/page.tsx
  donaction-frontend/src/layouts/partials/clubPage/clubIntroduction/index.tsx
  donaction-frontend/src/layouts/partials/projectPage/projectDecription/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(slug): Fix klub creation: implement unique slug generation for klubr and klubr-house services
  docs/tasks/2026_01_02-klubr-getslug-service-method.md
  donaction-api/src/api/klubr-house/services/klubr-house.ts
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/api/klubr/services/klubr.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(klubr): add slug to klubr house creation data for improved routing
  donaction-api/src/api/klubr/controllers/klubr.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(logging): add detailed logging for klub presentation and email sending processes
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(logging): remove unnecessary console logs from klubr and email sending processes
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(klubr): implement rollback and error handling for klubr creation process
  docs/tasks/2026_01_02-klubr-creation-rollback.md
  docs/tasks/2026_01_05-logger-helper.md
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
  donaction-api/src/helpers/logger/index.ts
  donaction-api/src/middlewares/request-logger.ts
  donaction-frontend/src/app/(main)/new-club/congratulations/page.tsx
  donaction-frontend/src/layouts/partials/authentication/newClubForm/useNewClubForm.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

feat: add Stripe Connect database foundation and schema
  docs/tasks/2025_12_19-stripe-connect-database-foundation.md
  donaction-api/src/_types.ts
  donaction-api/src/api/connected-account/content-types/connected-account/schema.json
  donaction-api/src/api/financial-audit-log/content-types/financial-audit-log/schema.json
  donaction-api/src/api/klub-don-payment/content-types/klub-don-payment/schema.json
  donaction-api/src/api/klub-don/services/klub-don.ts
  donaction-api/src/api/klubr-document/content-types/klubr-document/schema.json
  donaction-api/src/api/klubr/content-types/klubr/schema.json
  donaction-api/src/api/receipt-cancellation/content-types/receipt-cancellation/schema.json
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/src/api/webhook-log/content-types/webhook-log/schema.json
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

docs: add code review for Phase 1 implementation
  docs/tasks/2025_12_20-stripe-connect-database-foundation.review.md
Due: none

refactor: translate error message to French
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add inversedBy to connected-account relation
  donaction-api/src/api/connected-account/content-types/connected-account/schema.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add error handling to createConnectedAccount
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add visual debug logging for Stripe operations
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: add orphaned account tracking for Stripe Connect
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod
