Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

fix(ci): rename STRAPI_API_TOKEN to NEXT_PUBLIC_STRAPI_API_TOKEN for frontend build validation
  .github/workflows/ci.yml
Due: none

fix(stripe): remove hardcoded API version from Stripe client
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(email): centralize admin email handling with configurable recipients
  docs/tasks/2026_01_07-refactor-email-service-centralized-helper.md
  donaction-api/.env.example
  donaction-api/src/api/contact/services/contact.ts
  donaction-api/src/api/newsletter/services/newsletter.ts
  donaction-api/src/helpers/emails/emailService.ts
  donaction-api/src/helpers/logger/index.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(ci): add SMTP email configuration to CI/CD pipelines
  .github/templates/env.production.template
  .github/templates/env.staging.template
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/tasks/2026_01_07-add-smtp-email-vars-cicd.md
  donaction-api/src/helpers/emails/emailService.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(admin): add welcome title with klubr name on homepage
  donaction-admin/src/app/routes/homepage/homepage.component.html
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

feat(skill): update skill definitions for various components and services
  aidd/skills/admin/SKILL.md
  aidd/skills/admin/accessible-form.md
  aidd/skills/admin/card-variants.md
  aidd/skills/admin/functional-guard.md
  aidd/skills/admin/generic-update-component.md
  aidd/skills/admin/http-service.md
  aidd/skills/admin/ngrx-feature-state.md
  aidd/skills/admin/primeng-component.md
  aidd/skills/admin/reactive-form.md
  aidd/skills/admin/responsive-grid.md
  aidd/skills/admin/rxjs-data-pipeline.md
  aidd/skills/admin/standalone-component.md
  aidd/skills/automation/SKILL.md
  aidd/skills/automation/backend-quality-verification.md
  aidd/skills/backend/SKILL.md
  aidd/skills/backend/controllers.md
  aidd/skills/backend/custom-middleware.md
  aidd/skills/backend/document-service-api.md
  aidd/skills/backend/jwt-token.md
  aidd/skills/backend/lifecycles.md
  aidd/skills/backend/services.md
  aidd/skills/backend/stripe-payment.md
  aidd/skills/frontend/SKILL.md
  aidd/skills/frontend/client-components.md
  aidd/skills/frontend/data-fetching.md
  aidd/skills/frontend/redux-slice.md
  aidd/skills/frontend/server-components.md
  aidd/skills/saas/SKILL.md
  aidd/skills/saas/custom-elements.md
  aidd/skills/saas/runes.md
  aidd/skills/saas/stores.md
  aidd/skills/sample-test/SKILL.md
Due: none

feat(settings): Claude settings: add default environment ID to remote configuration
  .claude/settings.local.json
Due: none

feat(tests): add Playwright setup and invitation tests with authentication
  .claude/settings.json
  .claude/statusline.sh
  .gitignore
  donaction-admin/.gitignore
  donaction-admin/e2e/.auth/.gitignore
  donaction-admin/e2e/playwright.config.ts
  donaction-admin/e2e/tests/auth.setup.ts
  donaction-admin/e2e/tests/invitation.spec.ts
  donaction-admin/package-lock.json
  donaction-admin/package.json
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

feat(trade-policy): add granular donor pays fee fields for Stripe Connect
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/types/generated/contentTypes.d.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(schema): add granular donor pays fee fields for Stripe Connect migration
  docs/tasks/2026_01_10_issue_50_donor_pays_fee.review.md
Due: none

Feature/issue 50 (#97)
  docs/tasks/2026_01_10_issue_50_donor_pays_fee.review.md
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/types/generated/contentTypes.d.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(api): change default commissionPercentage from 6% to 4%
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(api): change default commissionPercentage from 6% to 4% (#98)
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(saas): add donor pays fee choice at step 3 (#53)
  docs/plans/issue-53-plan.md
  donaction-api/src/api/klub-don/content-types/klub-don/schema.json
  donaction-api/src/api/klubr-subscription/controllers/klubr-subscription.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step4/step4.svelte
  donaction-saas/src/components/sponsorshipForm/logic/submit.ts
  donaction-saas/src/components/sponsorshipForm/logic/useSponsorshipForm.svelte.ts
  donaction-saas/src/components/sponsorshipForm/logic/utils.ts
  donaction-saas/src/utils/tooltip/index.scss
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(saas): address PR review feedback
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/logic/utils.ts
Due: none

feat(docs): add development setup instructions and scripts to README
  donaction-saas/README.md
  donaction-saas/index.html
  donaction-saas/package.json
Due: none

feat(saas): add detailed fee breakdown in step 3 recap (#54)
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/logic/fee-calculation-helper.ts
Due: none

feat(saas): add detailed fee breakdown in step 3 recap (#54) (#100)
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/logic/fee-calculation-helper.ts
Due: none

feat(saas): transmit donorPaysFee flag to create-payment-intent API (#55)
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step4/step4.svelte
Due: none

feat(saas): transmit donorPaysFee flag to create-payment-intent API (#55) (#101)
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step4/step4.svelte
Due: none

feat(ui): implement design system with CSS variables and refactor donation form styles
  docs/plans/DONACTION-CLAUDE-CODE-IMPLEMENTATION-PLAN.md
  docs/tasks/2026_01_16-donaction-saas-ui-ux-refactoring.md
  donaction-saas/index.html
  donaction-saas/src/components/sponsorshipForm/components/breadcrumb/index.scss
  donaction-saas/src/components/sponsorshipForm/components/contribution/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/step1.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/step2.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/index.svelte
  donaction-saas/src/styles/_design-tokens.scss
  donaction-saas/src/styles/main.scss
Due: none

feat(ui): Phase 0: Association Identity Integration
  donaction-saas/src/components/sponsorshipForm/components/breadcrumb/Breadcrumb.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBanner/FormBanners.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formNavigation/index.scss
  donaction-saas/src/components/sponsorshipForm/index.svelte
  donaction-saas/src/styles/_design-tokens.scss
  donaction-saas/src/styles/main.scss
Due: none

feat(ui): Phase 0: Audit
  docs/plans/ui-audit-sponsorship-form.md
Due: none

feat(docs): add elite web designer and UI/UX designer profiles with detailed project phases
  docs/prompts/00_ux_ui/elite-webdesigner.md
  docs/prompts/00_ux_ui/ui_ux_designer_karim.md
Due: none

feat(ui): Phase 1/2/3/4: enhance sponsorship form with interactive elements and improved styling
  docs/task/ui_ux/ui-audit-sponsorship-form/README.md
  donaction-saas/src/components/sponsorshipForm/components/breadcrumb/Breadcrumb.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/step1.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formNavigation/FormNavigation.svelte
  donaction-saas/src/components/sponsorshipForm/components/formNavigation/index.scss
  donaction-saas/src/components/sponsorshipForm/index.scss
  donaction-saas/src/components/sponsorshipForm/logic/useSponsorshipForm.svelte.ts
  donaction-saas/src/components/sponsorshipForm/logic/utils.ts
  donaction-saas/src/styles/_design-tokens.scss
  donaction-saas/src/styles/main.scss
Due: none

feat(ui): Phase 5
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/index.scss
Due: none

feat(ui): Step 2: Phase 1/2 enhance step 2 form with improved validation and date picker component
  docs/plans/step2-ux-improvements.md
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/DatePicker.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/step2.svelte
  donaction-saas/src/components/sponsorshipForm/logic/validator.ts
Due: none

feat(ui): Step 2: Phase 3: implement LogoUpload component with drag & drop support and validation
  .vite/deps/_metadata.json
  .vite/deps/package.json
  docs/plans/step2-ux-improvements.md
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/LogoUpload.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/step2.svelte
Due: none

feat(ui): Phase 4: enhance address input fields with hover effects, unlock animation, and helper text
  docs/plans/step2-ux-improvements.md
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/AdressInputs.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
Due: none

feat(ui): Phase 5: implement transition animations for conditional sections and enhance accessibility features
  docs/plans/step2-ux-improvements.md
  donaction-saas/index.html
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/step2.svelte
Due: none

feat(ui): enhance SVG icons with currentColor fill and improve tooltip design
  donaction-saas/index.html
  donaction-saas/package.json
  donaction-saas/src/assets/icons/email.svg
  donaction-saas/src/assets/icons/resendFiles.svg
  donaction-saas/src/assets/icons/userAvatar.svg
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/step1.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/AdressInputs.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/step2.svelte
  donaction-saas/src/utils/tooltip/index.scss
Due: none

feat(ui): refine tooltip design and improve label alignment in address input fields WIP
  donaction-saas/index.html
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/AdressInputs.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/utils/tooltip/index.scss
Due: none

feat(ui): apply global styles to tooltip trigger button for child component compatibility
  donaction-saas/src/utils/tooltip/index.scss
Due: none

feat(ui): redesign address input section with auto-fill card and improved layout
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/AdressInputs.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
Due: none

feat(ui): add max-height to tooltip container for improved layout
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/index.scss
  donaction-saas/src/styles/main.scss
Due: none

feat(ui): add ProjectHighlight component for project donations and enhance background image
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/step1.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/components/projectHighlight/ProjectHighlight.svelte
  donaction-saas/src/components/sponsorshipForm/components/projectHighlight/index.scss
  donaction-saas/src/components/sponsorshipForm/index.scss
  donaction-saas/src/components/sponsorshipForm/index.svelte
Due: none

feat(ui): update ProjectHighlight component to conditionally display contribute label for project donations
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/step1.svelte
  donaction-saas/src/components/sponsorshipForm/components/projectHighlight/ProjectHighlight.svelte
  donaction-saas/src/components/sponsorshipForm/components/projectHighlight/index.scss
Due: none
