Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

feat(breadcrumb): add close button functionality for form modal
  donaction-saas/src/components/sponsorshipForm/components/formBody/FormBody.svelte
  donaction-saas/src/components/sponsorshipForm/logic/autoScrollOnFocus.ts
Due: none

fix(saas): address PR #120 review issues
  .github/workflows/ci.yml
  donaction-saas/.gitignore
  donaction-saas/eslint.config.js
  donaction-saas/playwright.config.ts
  donaction-saas/src/components/sponsorshipForm/__docs__/validator.md
  donaction-saas/src/components/sponsorshipForm/__tests__/validator.test.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step1/step1.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step2/LogoUpload.svelte
  donaction-saas/src/components/sponsorshipForm/components/formError/FormError.svelte
  donaction-saas/src/components/sponsorshipForm/logic/validator.ts
  donaction-saas/vitest.config.ts
Due: none

docs(saas): update memory bank with recent codebase changes
  docs/memory-bank/saas/AGENTS.md
  docs/saas.md
Due: none

chore(docs): sync memory bank generated files
  docs/AGENTS.md
  docs/admin.md
  docs/backend.md
  docs/don-workflows.md
  docs/frontend.md
Due: none

fix(saas): address remaining PR #120 review issues
  donaction-saas/playwright.config.ts
  donaction-saas/src/components/sponsorshipForm/components/contribution/Contribution.svelte
Due: none

test(saas): add unit tests for api, validator action, and initListeners
  donaction-saas/src/components/sponsorshipForm/__tests__/api.test.ts
  donaction-saas/src/components/sponsorshipForm/__tests__/initListenersAction.test.ts
  donaction-saas/src/components/sponsorshipForm/__tests__/validatorAction.test.ts
Due: none

data export
  donaction-api/data/strapi-export.tar.gz.enc
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(saas): enable e2e tests in CI with dedicated Vite config
  donaction-saas/index.e2e.html
  donaction-saas/package.json
  donaction-saas/playwright.config.ts
  donaction-saas/src/components/sponsorshipForm/logic/initComponent.ts
  donaction-saas/src/components/sponsorshipForm/logic/stripe.ts
  donaction-saas/vite.config.e2e.ts
Due: none

fix(ci): add Stripe test key for e2e tests
  .github/workflows/ci.yml
Due: none

fix(ci): update E2E test command to ignore specific tests
  .github/workflows/ci.yml
Due: none

fix(saas): address PR #120 code review issues
  donaction-saas/playwright.config.ts
  donaction-saas/src/components/sponsorshipForm/__docs__/validator.md
  donaction-saas/src/components/sponsorshipForm/__tests__/api.test.ts
  donaction-saas/src/components/sponsorshipForm/__tests__/submit.test.ts
  donaction-saas/src/components/sponsorshipForm/__tests__/validator.test.ts
  donaction-saas/src/components/sponsorshipForm/logic/api.ts
  donaction-saas/src/components/sponsorshipForm/logic/fee-calculation-helper.ts
  donaction-saas/src/components/sponsorshipForm/logic/submit.ts
  donaction-saas/src/components/sponsorshipForm/logic/validator.ts
Due: none

fix(ci): use --grep-invert instead of invalid --ignore flag
  .github/workflows/ci.yml
Due: none

fix(e2e): increase CI timeouts for flaky test stability
  donaction-saas/playwright.config.ts
Due: none

fix(saas): address PR #120 blocking review issues
  donaction-saas/src/components/sponsorshipForm/logic/api.ts
  donaction-saas/src/components/sponsorshipForm/logic/validator.ts
Due: none

chore(admin): add Docker proxy config for container networking
  donaction-admin/docker/development/Dockerfile
  donaction-admin/package.json
  donaction-admin/proxy.conf.docker.json
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

chore(saas): dedupe package-lock dependencies
  donaction-saas/package-lock.json
Due: none

chore(saas): fix package§lock.json for node 20,20,0
  donaction-saas/package-lock.json
Due: none

feat(saas): extract TaxReductionSummary component (#56)
  donaction-saas/e2e/pages/Step3Page.ts
  donaction-saas/e2e/tests/step3/summary.spec.ts
  donaction-saas/src/components/sponsorshipForm/__tests__/TaxReductionSummary.test.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/components/taxReductionSummary/TaxReductionSummary.svelte
  donaction-saas/src/components/sponsorshipForm/components/taxReductionSummary/index.scss
Due: none

feat(saas): extract TaxReductionSummary component (#56) (#122)
  donaction-saas/e2e/pages/Step3Page.ts
  donaction-saas/e2e/tests/step3/summary.spec.ts
  donaction-saas/src/components/sponsorshipForm/__tests__/TaxReductionSummary.test.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/index.scss
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/components/taxReductionSummary/TaxReductionSummary.svelte
  donaction-saas/src/components/sponsorshipForm/components/taxReductionSummary/index.scss
Due: none

feat(frontend): add /new-hp route and newHomepage partial structure
  docs/plans/issue-103-plan.md
  donaction-frontend/src/app/(main)/new-hp/page.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

refactor(frontend): address PR review feedback
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add /new-hp route and newHomepage partial structure (#123)
  docs/plans/issue-103-plan.md
  donaction-frontend/src/app/(main)/new-hp/page.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add NewHpHero section with CTAs for /new-hp page
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
  plans/issue-104-plan.md
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): address PR review feedback for NewHpHero
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

refactor(frontend): address PR review feedback for NewHpHero
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): NewHpHero section with CTAs (#124)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
  plans/issue-104-plan.md
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add Vitest testing setup and NewHpHero tests
  .github/workflows/ci.yml
  donaction-frontend/package-lock.json
  donaction-frontend/package.json
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.test.tsx
  donaction-frontend/tsconfig.json
  donaction-frontend/vitest.config.ts
  donaction-frontend/vitest.setup.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(ci): upgrade frontend Node to 20 for jsdom compatibility
  .github/workflows/ci.yml
Due: none

fix(frontend): separate tsconfig for tests to preserve global types
  donaction-frontend/tsconfig.json
  donaction-frontend/tsconfig.test.json
  donaction-frontend/vitest.config.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): address PR review feedback
  .github/workflows/ci.yml
  .husky/pre-push
  docs/rules/frontend/testing.md
  donaction-frontend/package.json
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/NewHpHero.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.test.tsx
  donaction-frontend/vitest.config.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(hooks): exit pre-push on test failure
  .husky/pre-push
Due: none

fix(frontend): add @vitest/coverage-v8 and remove thresholds
  docs/rules/frontend/testing.md
  donaction-frontend/package-lock.json
  donaction-frontend/package.json
  donaction-frontend/vitest.config.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

chore(frontend): add coverage to test:ci command
  donaction-frontend/package.json
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add Vitest testing setup and NewHpHero tests (#126)
  .github/workflows/ci.yml
  .husky/pre-push
  docs/rules/frontend/testing.md
  donaction-frontend/package-lock.json
  donaction-frontend/package.json
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/NewHpHero.test.tsx
  donaction-frontend/tsconfig.test.json
  donaction-frontend/vitest.config.ts
  donaction-frontend/vitest.setup.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add NewHpReassurance trust badges section (#105)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/NewHpReassurance.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): address PR review feedback for NewHpReassurance
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/NewHpReassurance.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.scss
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): use stable ids for badge keys instead of array index
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add NewHpReassurance trust badges section (#128)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/NewHpReassurance.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add NewHpWhyDonaction section with 6 advantage cards (#106)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWhyDonaction/NewHpWhyDonaction.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWhyDonaction/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWhyDonaction/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod
