Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

fix: address PR review round 2 — migration conflict, retry status, conventions
  donaction-api/database/migrations/2026.03.04T00.00.00.add-webhook-log-indexes.ts
  donaction-api/src/api/webhook-log/content-types/webhook-log/lifecycles.ts
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhookLogHelpers.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat: update webhook-log content-type to match US-WH-001 spec (#61)
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/_types.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/webhook-log/content-types/webhook-log/schema.json
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/routes/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhook-log.test.ts
  donaction-api/src/api/webhook-log/services/webhook-log.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
  donaction-api/types/generated/contentTypes.d.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address code review findings for webhook-log
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.ts
  donaction-api/src/api/webhook-log/services/webhook-log.test.ts
  donaction-api/src/api/webhook-log/services/webhook-log.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review findings for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/webhook-log/routes/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhook-log.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 2 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/middlewares/admin-only.ts
  donaction-api/src/api/webhook-log/routes/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.ts
  donaction-api/src/api/webhook-log/services/webhook-log.test.ts
  donaction-api/src/api/webhook-log/services/webhook-log.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 3 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/middlewares/admin-only.ts
  donaction-api/src/api/webhook-log/routes/webhook-log.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: narrow isDuplicateStatus param to WebhookLogStatus for type safety #61
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review critical issues for webhook-log #61
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 5 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/middlewares/admin-only.ts
  donaction-api/src/api/webhook-log/routes/webhook-log-custom.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 6 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 7 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 8 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 9 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/webhook-log/routes/webhook-log.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 10 for webhook-log #61
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: revert webhookLog typing to fix TS2322 build error #61
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat: update webhook-log content-type (US-WH-001) #61 (#184)
  donaction-api/database/migrations/2026.03.05T00.00.00.update-webhook-log-schema.ts
  donaction-api/src/_types.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/webhook-log/content-types/webhook-log/schema.json
  donaction-api/src/api/webhook-log/controllers/webhook-log.ts
  donaction-api/src/api/webhook-log/middlewares/admin-only.ts
  donaction-api/src/api/webhook-log/routes/webhook-log-custom.ts
  donaction-api/src/api/webhook-log/routes/webhook-log.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.test.ts
  donaction-api/src/api/webhook-log/services/webhook-log-helpers.ts
  donaction-api/src/api/webhook-log/services/webhook-log.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
  donaction-api/types/generated/contentTypes.d.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat: add Connect webhook handlers and controller tests (US-WH-002) #62
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat: replace Klubr branding with Donaction across all apps #185
  docs/tasks/2026_03_06-replace-klubr-branding-donaction.md
  donaction-admin/src/app/routes/auth/ui/login/login.component.html
  donaction-admin/src/app/routes/auth/ui/register/register.component.html
  donaction-admin/src/app/shared/components/header/header.component.html
  donaction-admin/src/app/shared/components/member/link-member/link-member.component.html
  donaction-admin/src/assets/donaction-logo-animated.svg
  donaction-admin/src/assets/theme/datatable.scss
  donaction-admin/src/assets/theme/theme-fix.scss
  donaction-admin/src/favicon.ico
  donaction-admin/src/favicon.png
  donaction-admin/src/index.html
  donaction-admin/src/public/icons/icon-128x128.png
  donaction-admin/src/public/icons/icon-144x144.png
  donaction-admin/src/public/icons/icon-152x152.png
  donaction-admin/src/public/icons/icon-192x192.png
  donaction-admin/src/public/icons/icon-384x384.png
  donaction-admin/src/public/icons/icon-512x512.png
  donaction-admin/src/public/icons/icon-72x72.png
  donaction-admin/src/public/icons/icon-96x96.png
  donaction-admin/src/public/manifest-re7.webmanifest
  donaction-admin/src/public/manifest.webmanifest
  donaction-admin/src/styles.scss
  donaction-frontend/analyze/nodejs.html
  donaction-frontend/public/images/donaction-logo-animated.svg
  donaction-frontend/public/images/favicon.ico
  donaction-frontend/public/images/favicon.png
  donaction-frontend/src/config/config.json
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
  donaction-frontend/src/layouts/components/Share.tsx
  donaction-frontend/src/layouts/partials/mecenatPage/avantageMecenat/consts.ts
  donaction-frontend/src/layouts/partials/mecenatPage/manifestMecenat/consts.ts
  donaction-saas/index.e2e.html
  donaction-saas/index.html
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, deploy_admin:dev, deploy_admin:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix: update DonactionLogo test to match SVG src #185
  donaction-frontend/src/layouts/components/DonactionLogo.test.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

chore: remove unused logoKlubr.svg asset #185
  donaction-admin/src/assets/logoKlubr.svg
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

fix: address PR review for branding migration #185
  docs/tasks/2026_03_06-replace-klubr-branding-donaction.md
  donaction-frontend/src/config/config.json
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat: replace Klubr branding with Donaction across all apps #185 (#187)
  donaction-admin/src/app/routes/auth/ui/login/login.component.html
  donaction-admin/src/app/routes/auth/ui/register/register.component.html
  donaction-admin/src/app/shared/components/header/header.component.html
  donaction-admin/src/app/shared/components/member/link-member/link-member.component.html
  donaction-admin/src/assets/donaction-logo-animated.svg
  donaction-admin/src/assets/logoKlubr.svg
  donaction-admin/src/assets/theme/datatable.scss
  donaction-admin/src/assets/theme/theme-fix.scss
  donaction-admin/src/favicon.ico
  donaction-admin/src/favicon.png
  donaction-admin/src/index.html
  donaction-admin/src/public/icons/icon-128x128.png
  donaction-admin/src/public/icons/icon-144x144.png
  donaction-admin/src/public/icons/icon-152x152.png
  donaction-admin/src/public/icons/icon-192x192.png
  donaction-admin/src/public/icons/icon-384x384.png
  donaction-admin/src/public/icons/icon-512x512.png
  donaction-admin/src/public/icons/icon-72x72.png
  donaction-admin/src/public/icons/icon-96x96.png
  donaction-admin/src/public/manifest-re7.webmanifest
  donaction-admin/src/public/manifest.webmanifest
  donaction-admin/src/styles.scss
  donaction-frontend/analyze/nodejs.html
  donaction-frontend/public/images/donaction-logo-animated.svg
  donaction-frontend/public/images/favicon.ico
  donaction-frontend/public/images/favicon.png
  donaction-frontend/src/config/config.json
  donaction-frontend/src/layouts/components/DonactionLogo.test.tsx
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
  donaction-frontend/src/layouts/components/Share.tsx
  donaction-frontend/src/layouts/partials/mecenatPage/avantageMecenat/consts.ts
  donaction-frontend/src/layouts/partials/mecenatPage/manifestMecenat/consts.ts
  donaction-saas/index.e2e.html
  donaction-saas/index.html
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, deploy_admin:dev, deploy_admin:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix: address PR review findings for Connect webhook #62
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 2 for Connect webhook #62
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review round 3 for Connect webhook #62
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat: add Connect webhook handlers and controller tests (US-WH-002) #62 (#186)
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(frontend): use relative favicon URLs in config
  donaction-frontend/src/config/config.json
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): use static logo in footer
  donaction-frontend/public/images/donaction-logo.svg
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix: relative favicons + static footer logo (#188)
  donaction-frontend/public/images/donaction-logo.svg
  donaction-frontend/src/config/config.json
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat: add admin alert for restricted/disabled Stripe accounts (US-WH-003) #63
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: address PR review — deduplication, security, type safety
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: fire-and-forget alert, cleanup, add transition test
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: use void for fire-and-forget, add disabled dedup test, document types
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: avoid direct id lookup, use vi.waitFor, add active→restricted test
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: alert before DB update, named type, race condition doc, French locale
  donaction-api/src/_types.ts
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: centralize admin email routing with destIsAdmin flag
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/helpers/emails/emailConstants.ts
  donaction-api/src/helpers/emails/emailService.ts
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor: type sendBrevoTransacEmail props (BrevoTransacEmailProps)
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: widen BrevoTransacEmailProps params to accept numbers
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix: add runtime guard for missing recipients, confirm tags required, clarify Query Engine id
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat: admin alert for restricted/disabled Stripe accounts (US-WH-003) #63 (#189)
  donaction-api/src/_types.ts
  donaction-api/src/api/klubr/controllers/klubr.ts
  donaction-api/src/helpers/emails/emailConstants.ts
  donaction-api/src/helpers/emails/emailService.ts
  donaction-api/src/helpers/emails/sendBrevoTransacEmail.ts
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod
