Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

feat(frontend): serve new homepage on root route / (#158) (#168)
  donaction-frontend/src/app/(main)/page.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): remove /new-hp route (#159) (#169)
  donaction-frontend/src/app/(main)/new-hp/page.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

chore(frontend): remove dead code from old homepage (#171)
  donaction-frontend/src/layouts/partials/common/newslettersForm/index.scss
  donaction-frontend/src/layouts/partials/common/newslettersForm/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add SEO meta tags, canonicals, sitemap and robots (#119)
  donaction-frontend/next.config.js
  donaction-frontend/src/app/(auth)/connexion/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/[uuid]/details/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/page.tsx
  donaction-frontend/src/app/(main)/new-club/congratulations/page.tsx
  donaction-frontend/src/app/(main)/profile/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/[projectSlug]/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/page.tsx
  donaction-frontend/src/app/[slug]/page.tsx
  donaction-frontend/src/app/forbidden/page.tsx
  donaction-frontend/src/app/layout.tsx
  donaction-frontend/src/app/robots.tsx
  donaction-frontend/src/app/sitemap.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): rebrand SEO content from Klubr to Donaction, generalize to all associations
  donaction-frontend/src/app/(auth)/connexion/page.tsx
  donaction-frontend/src/app/(auth)/reset-password/page.tsx
  donaction-frontend/src/app/(main)/clubs/page.tsx
  donaction-frontend/src/app/(main)/mecenat/page.tsx
  donaction-frontend/src/app/(main)/new-club/page.tsx
  donaction-frontend/src/app/(main)/page.tsx
  donaction-frontend/src/app/(main)/projets/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/[projectSlug]/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/page.tsx
  donaction-frontend/src/app/[slug]/page.tsx
  donaction-frontend/src/app/layout.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): address PR #172 review feedback on SEO metadata
  donaction-frontend/src/app/(main)/mes-dons/[uuid]/details/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/page.tsx
  donaction-frontend/src/app/(main)/new-club/congratulations/page.tsx
  donaction-frontend/src/app/(main)/profile/page.tsx
  donaction-frontend/src/app/forbidden/page.tsx
  donaction-frontend/src/app/layout.tsx
  donaction-frontend/src/app/sitemap.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

refactor(frontend): extract OG image URLs into shared constants
  donaction-frontend/src/app/(auth)/connexion/page.tsx
  donaction-frontend/src/app/(auth)/reset-password/page.tsx
  donaction-frontend/src/app/(main)/clubs/page.tsx
  donaction-frontend/src/app/(main)/conditions-generales-d-utilisation/page.tsx
  donaction-frontend/src/app/(main)/mecenat/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/page.tsx
  donaction-frontend/src/app/(main)/new-club/page.tsx
  donaction-frontend/src/app/(main)/page.tsx
  donaction-frontend/src/app/(main)/politique-de-confidentialite/page.tsx
  donaction-frontend/src/app/(main)/profile/page.tsx
  donaction-frontend/src/app/(main)/projets/page.tsx
  donaction-frontend/src/app/layout.tsx
  donaction-frontend/src/core/services/endpoints.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): SEO meta tags, canonicals et rebranding Donaction (#172)
  donaction-frontend/next.config.js
  donaction-frontend/src/app/(auth)/connexion/page.tsx
  donaction-frontend/src/app/(auth)/reset-password/page.tsx
  donaction-frontend/src/app/(main)/clubs/page.tsx
  donaction-frontend/src/app/(main)/conditions-generales-d-utilisation/page.tsx
  donaction-frontend/src/app/(main)/mecenat/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/[uuid]/details/page.tsx
  donaction-frontend/src/app/(main)/mes-dons/page.tsx
  donaction-frontend/src/app/(main)/new-club/congratulations/page.tsx
  donaction-frontend/src/app/(main)/new-club/page.tsx
  donaction-frontend/src/app/(main)/page.tsx
  donaction-frontend/src/app/(main)/politique-de-confidentialite/page.tsx
  donaction-frontend/src/app/(main)/profile/page.tsx
  donaction-frontend/src/app/(main)/projets/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/[projectSlug]/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/page.tsx
  donaction-frontend/src/app/[slug]/page.tsx
  donaction-frontend/src/app/forbidden/page.tsx
  donaction-frontend/src/app/layout.tsx
  donaction-frontend/src/app/robots.tsx
  donaction-frontend/src/app/sitemap.tsx
  donaction-frontend/src/core/services/endpoints.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(admin): fix new project without existing libraries
  donaction-admin/src/app/routes/project/ui/new-project/new-project.component.html
  donaction-admin/src/app/routes/project/ui/new-project/new-project.component.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

feat(admin): fix new project without existing libraries (#173)
  donaction-admin/src/app/routes/project/ui/new-project/new-project.component.html
  donaction-admin/src/app/routes/project/ui/new-project/new-project.component.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

feat(aidd): Add Agent team
  docs/agents/a11y-specialist.md
  docs/agents/animation-specialist.md
  docs/agents/api-integration.md
  docs/agents/dx.md
  docs/agents/perf.md
  docs/agents/security-specialist.md
  docs/agents/seo.md
  docs/agents/state-management.md
  docs/agents/testing-specialist.md
  docs/agents/ui-specialist.md
  docs/agents/ux-specialist.md
  docs/prompts/00_flows/full_implement.md
  plan.md
Due: none

refactor(api): use factory pattern for stripe-connect controller
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(api): use factory pattern for stripe-connect service
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

feat(api): add ownership check middleware for Stripe account endpoints
  donaction-api/src/api/stripe-connect/middlewares/account-owner.ts
  donaction-api/src/api/stripe-connect/routes/stripe-connect-custom.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(api): consolidate Stripe client to single instance
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(api): inject strapi dependency in Stripe helpers
  donaction-api/config/cronTasks.ts
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
  donaction-api/src/constants.ts
  donaction-api/src/cron/sync-stripe-accounts.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

perf(api): add database indexes for Stripe Connect tables
  donaction-api/database/migrations/2026.02.27T00.00.00.add-stripe-connect-indexes.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): revert Stripe type casts to as any for JSON field compatibility
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): surface errors in updateDonAndDonPayment instead of silent failure
  donaction-api/src/api/klub-don-payment/services/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): send error response in stripeWebHooks catch block
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): add null guard for regex match in check() method
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): handle duplicate webhook events gracefully
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(api): inject strapi dependency in idempotency helper
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/helpers/idempotency-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): add ownership check middleware for Stripe account creation
  donaction-api/src/api/stripe-connect/middlewares/klubr-owner.ts
  donaction-api/src/api/stripe-connect/routes/stripe-connect-custom.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): prevent URL validation bypass in onboarding link generation
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/constants.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): add mandatory validateQuery/sanitizeQuery to Stripe controllers
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): default stripe_connect to false for legacy clubs
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(api): use Document Service API for connected account updates
  donaction-api/src/api/stripe-connect/services/stripe-connect.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): add UUID lifecycle hook for connected-account
  donaction-api/src/api/connected-account/content-types/connected-account/lifecycles.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

refactor(api): standardize raw-body access for webhook signature verification
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): address PR #29 review findings (critical, security, medium, minor)
  .gitignore
  .vite/deps/_metadata.json
  .vite/deps/package.json
  donaction-api/database/migrations/2026.02.27T00.00.00.add-stripe-connect-indexes.ts
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/middlewares/klubr-owner.ts
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): address remaining PR #29 review findings + add unit tests
  donaction-api/package-lock.json
  donaction-api/package.json
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-api/src/api/stripe-connect/middlewares/account-owner.ts
  donaction-api/src/api/stripe-connect/middlewares/klubr-owner.ts
  donaction-api/src/api/stripe-connect/middlewares/verify-webhook-signature.ts
  donaction-api/src/cron/sync-stripe-accounts.ts
  donaction-api/src/helpers/logger/index.ts
  donaction-api/src/helpers/logger/logger.test.ts
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
  donaction-api/src/helpers/stripe-webhook-handlers.test.ts
  donaction-api/src/helpers/stripe-webhook-handlers.ts
  donaction-api/tsconfig.json
  donaction-api/vitest.config.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api,frontend): address critical PR #29 review findings
  donaction-api/src/api/stripe-connect/controllers/stripe-connect.ts
  donaction-frontend/src/app/api/klubr/create/route.ts
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

ci(api): add unit test job to CI pipeline
  .github/workflows/ci.yml
  donaction-api/package.json
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): stub env vars in stripe-connect-helper tests for CI compatibility
  donaction-api/src/helpers/stripe-connect-helper.test.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(api): use dynamic Stripe fees from trade_policy in application fee calculation
  donaction-api/src/api/klub-don-payment/controllers/klub-don-payment.ts
  donaction-api/src/api/klubr-subscription/controllers/klubr-subscription.ts
  donaction-api/src/api/trade-policy/content-types/trade-policy/schema.json
  donaction-api/src/helpers/stripe-connect-helper.test.ts
  donaction-api/src/helpers/stripe-connect-helper.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(saas): read Stripe fee params from trade_policy instead of hardcoded constants
  donaction-saas/src/components/sponsorshipForm/__tests__/fee-calculation-helper.test.ts
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step3/step3.svelte
  donaction-saas/src/components/sponsorshipForm/components/formBody/steps/step4/step4.svelte
  donaction-saas/src/components/sponsorshipForm/logic/api.ts
  donaction-saas/src/components/sponsorshipForm/logic/fee-calculation-helper.ts
Due: none

fix(api): add stripe_fee fields to TradePolicyEntity type
  donaction-api/src/_types.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod
