Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

fix(nginx): unique zones, HSTS staging, admin protection
  infrastructure/production/nginx/donaction.conf
  infrastructure/staging/nginx/donaction.conf
Due: none

feat(infra): add SSL setup script for Let's Encrypt
  infrastructure/README.md
  infrastructure/production/nginx/donaction.conf
  infrastructure/scripts/setup-ssl.sh
  infrastructure/staging/nginx/donaction.conf
Due: none

fix(ssl): address PR review feedback
  infrastructure/scripts/setup-ssl.sh
Due: none

fix(ssl): address second PR review round
  infrastructure/scripts/setup-ssl.sh
Due: none

feat(infra): add PostgreSQL container to staging and production
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/plans/issue-40-postgresql-docker.md
  infrastructure/production/docker-compose.yml
  infrastructure/production/env.template
  infrastructure/staging/docker-compose.yml
  infrastructure/staging/env.template
Due: none

fix(infra): address PR review feedback for PostgreSQL setup
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/tasks/2025_12_26_issue-27-ssl-setup.review.md
  docs/tasks/2025_12_26_issue-40-postgresql-docker.review.md
  infrastructure/README.md
  infrastructure/production/docker-compose.yml
  infrastructure/scripts/backup-postgres.sh
  infrastructure/staging/docker-compose.yml
Due: none

fix(infra): address second PR review round
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  infrastructure/production/docker-compose.yml
  infrastructure/scripts/backup-postgres.sh
  infrastructure/staging/docker-compose.yml
Due: none

docs(memory-bank): update AGENTS.md with infrastructure learnings
  docs/memory-bank/AGENTS.md
Due: none

fix(ci): update CI workflow to remove linting commands
  .github/workflows/ci.yml
Due: none

refactor(docs): update branch naming conventions in AGENTS.md and COMMIT.md
  aidd/prompts/ide/00_flows/auto_implement.md
  aidd/prompts/templates/memory-bank/aidd/COMMIT.md
  docs/COMMIT.md
  docs/memory-bank/AGENTS.md
Due: none

fix(ci): update pull request branches to include main and epic
  .github/workflows/ci.yml
Due: none

fix(ci): comment out feature branch in CI workflow
  .github/workflows/ci.yml
  donaction-admin/src/app/app.component.ts
Due: package_admin:dev, package_admin:prod, deploy_admin:dev, deploy_admin:prod

fix(ci): remove invalid secrets context from workflow if conditions
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): resolve docker build failures for api, frontend, and saas
  donaction-api/docker/production/Dockerfile
  donaction-frontend/docker/production/Dockerfile
  donaction-saas/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

feat(ci): consume SaaS assets from GHCR registry instead of building internally
  .github/workflows/build.yml
  docs/tasks/2025_12_29-saas-registry-build.md
  donaction-frontend/docker/production/Dockerfile
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(ci): remove non-existent nginx config copy in SaaS Dockerfile
  donaction-saas/docker/production/Dockerfile
Due: none

feat(ci): add manual approval gates for SaaS, Frontend, Admin, API builds
  .github/workflows/build.yml
Due: none

fix(ci): remove unused build-saas.outputs.image_tag
  .github/workflows/build.yml
Due: none

perf(docker): prune dev dependencies in API production build
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

docs: mark SaaS registry build phases as complete
  docs/tasks/2025_12_29-saas-registry-build.md
Due: none

docs: add initial README for Donaction Frontend project
  donaction-admin/README.md
  donaction-api/README.md
  donaction-frontend/README.md
  donaction-saas/README.md
Due: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

fix(ci): add staging environment to validate job for secrets access
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): use SSH port 63009 for staging and production deployments
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix(docker): compile TypeScript config files for Strapi production mode
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): disable source maps for config compilation
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): remove source map files after config compilation
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(ci): align image tags and add version selection for deployments
  .github/workflows/build.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
  docs/memory-bank/ENVIRONMENT-VARIABLES.md
Due: none

fix(ci): use base64 encoding for .env file generation in deploy workflows
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): add detailed debugging for .env file creation
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): add DATABASE_CLIENT=postgres to .env generation
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix(ci): add IMAGEKIT_UPLOAD_ENVIRONMENT to .env generation
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-staging.yml
Due: none

fix(env): update DATABASE_HOST to remove version suffix
  .env.example
  ENV_CONFIGURATION_GUIDE.md
  docker-compose.yml
  donaction-api/.env.example
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): ensure @strapi/logger available at runtime
  donaction-api/config/logger.ts
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): update Dockerfile for production build optimizations
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): enable entrypoint script in Dockerfile
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): update Dockerfile to copy necessary application files for runtime
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(docker): correct path for copying node_modules in Dockerfile
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(ci): skip notification when build workflow is cancelled
  .github/workflows/build.yml
Due: none

fix(docker): comment out entrypoint in Dockerfile
  donaction-api/docker/production/Dockerfile
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod
