Repository karimzg/donaction: changes, and which GitLab CI jobs are due for each by the changed paths.
All: package_admin:dev, package_admin:prod, package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_admin:dev, deploy_admin:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

Path conditions:
  package_admin:dev: any of: donaction-admin/**/*
  package_admin:prod: any of: donaction-admin/**/*
  package_frontend:dev: any of: donaction-frontend/**/*
  package_frontend:prod: any of: donaction-frontend/**/*
  package_api:dev: any of: donaction-api/**/*
  package_api:prod: any of: donaction-api/**/*
  deploy_admin:dev: any of: donaction-admin/**/*
  deploy_admin:prod: any of: donaction-admin/**/*
  deploy_API:dev: any of: donaction-api/**/*
  deploy_FRONT:dev: any of: donaction-frontend/**/*
  deploy_API:prod: any of: donaction-api/**/*
  deploy_FRONT:prod: any of: donaction-frontend/**/*

feat(frontend): implement NewHpFederations B2B section (#113) (#140)
  donaction-frontend/src/app/(main)/contact/page.tsx
  donaction-frontend/src/core/constants/contact.ts
  donaction-frontend/src/layouts/partials/authentication/contactUsForm/useContactUsForm.ts
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/NewHpFederations.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/icons/DedicatedSupportIcon.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/icons/MultiClubIcon.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/icons/ReportingIcon.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
  donaction-frontend/src/types/global.d.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): redesign Header & Footer with Donaction branding (#142)
  donaction-frontend/public/images/donaction-logo.png
  donaction-frontend/src/app/(auth)/layout.tsx
  donaction-frontend/src/app/(main)/layout.tsx
  donaction-frontend/src/app/[slug]/nos-projets/[projectSlug]/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/page.tsx
  donaction-frontend/src/app/[slug]/page.tsx
  donaction-frontend/src/app/forbidden/page.tsx
  donaction-frontend/src/app/not-found.tsx
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
  donaction-frontend/src/layouts/partials/common/footer/index.scss
  donaction-frontend/src/layouts/partials/common/footer/index.tsx
  donaction-frontend/src/layouts/partials/common/header/clientController.tsx
  donaction-frontend/src/layouts/partials/common/header/index.scss
  donaction-frontend/src/layouts/partials/common/header/index.tsx
  donaction-frontend/src/layouts/partials/common/header/listeners.ts
  donaction-frontend/src/layouts/partials/common/header/mobileDrawer.tsx
  donaction-frontend/src/layouts/partials/common/header/sticky.tsx
  donaction-frontend/src/layouts/partials/common/sections/klubrSupportSection/index.tsx
  donaction-frontend/src/styles/utilities.scss
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add full-width reveal bar dropdown for Clubs nav (#142)
  donaction-frontend/src/layouts/components/dropdownList/index.scss
  donaction-frontend/src/layouts/components/dropdownList/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

Update address text for Donaction invoice and footer
  donaction-api/src/helpers/klubrPDF/generateClubInvoice/getInvoiceClubPagesData.ts
Due: package_api:dev, package_api:prod, deploy_API:dev, deploy_API:prod

fix(frontend): address PR review — memory leak, DOM listeners, feature flags (#142)
  donaction-frontend/src/core/helpers/featureFlags.ts
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
  donaction-frontend/src/layouts/partials/common/footer/index.tsx
  donaction-frontend/src/layouts/partials/common/header/clientController.tsx
  donaction-frontend/src/layouts/partials/common/header/index.tsx
  donaction-frontend/src/layouts/partials/common/header/listeners.ts
  donaction-frontend/src/layouts/partials/common/header/mobileDrawer.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

test(frontend): add tests for Header, Footer, MobileDrawer, DonactionLogo (#142)
  donaction-frontend/src/layouts/components/DonactionLogo.test.tsx
  donaction-frontend/src/layouts/partials/common/footer/Footer.test.tsx
  donaction-frontend/src/layouts/partials/common/header/Header.test.tsx
  donaction-frontend/src/layouts/partials/common/header/MobileDrawer.test.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): redesign user avatar dropdown with role badge and dashboard CTA (#142)
  donaction-frontend/src/core/models/klubr-membre/index.ts
  donaction-frontend/src/layouts/components/dropdownList/index.scss
  donaction-frontend/src/layouts/components/dropdownList/index.tsx
  donaction-frontend/src/layouts/partials/common/header/clientController.tsx
  donaction-frontend/src/layouts/partials/common/header/helpers.ts
  donaction-frontend/src/layouts/partials/common/header/icons/DashboardIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/DonationsIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/LogoutIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/SettingsIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/index.ts
  donaction-frontend/src/layouts/partials/common/header/index.scss
  donaction-frontend/src/layouts/partials/common/header/index.tsx
  donaction-frontend/src/layouts/partials/common/header/mobileDrawer.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

test(frontend): add helpers tests and update header/drawer tests for dropdown redesign (#142)
  donaction-frontend/src/layouts/partials/common/header/Header.test.tsx
  donaction-frontend/src/layouts/partials/common/header/MobileDrawer.test.tsx
  donaction-frontend/src/layouts/partials/common/header/helpers.test.ts
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): address PR review — type safety, null checks, a11y (#142)
  donaction-frontend/src/core/models/klubr-membre/index.ts
  donaction-frontend/src/layouts/partials/common/header/clientController.tsx
  donaction-frontend/src/layouts/partials/common/header/helpers.test.ts
  donaction-frontend/src/layouts/partials/common/header/helpers.ts
  donaction-frontend/src/layouts/partials/common/header/mobileDrawer.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): Header & Footer redesign with Donaction branding (#142) (#143)
  donaction-api/src/helpers/klubrPDF/generateClubInvoice/getInvoiceClubPagesData.ts
  donaction-frontend/public/images/donaction-logo.png
  donaction-frontend/src/app/(auth)/layout.tsx
  donaction-frontend/src/app/(main)/layout.tsx
  donaction-frontend/src/app/[slug]/nos-projets/[projectSlug]/page.tsx
  donaction-frontend/src/app/[slug]/nos-projets/page.tsx
  donaction-frontend/src/app/[slug]/page.tsx
  donaction-frontend/src/app/forbidden/page.tsx
  donaction-frontend/src/app/not-found.tsx
  donaction-frontend/src/core/helpers/featureFlags.ts
  donaction-frontend/src/core/models/klubr-membre/index.ts
  donaction-frontend/src/layouts/components/DonactionLogo.test.tsx
  donaction-frontend/src/layouts/components/DonactionLogo.tsx
  donaction-frontend/src/layouts/components/dropdownList/index.scss
  donaction-frontend/src/layouts/components/dropdownList/index.tsx
  donaction-frontend/src/layouts/partials/common/footer/Footer.test.tsx
  donaction-frontend/src/layouts/partials/common/footer/index.scss
  donaction-frontend/src/layouts/partials/common/footer/index.tsx
  donaction-frontend/src/layouts/partials/common/header/Header.test.tsx
  donaction-frontend/src/layouts/partials/common/header/MobileDrawer.test.tsx
  donaction-frontend/src/layouts/partials/common/header/clientController.tsx
  donaction-frontend/src/layouts/partials/common/header/helpers.test.ts
  donaction-frontend/src/layouts/partials/common/header/helpers.ts
  donaction-frontend/src/layouts/partials/common/header/icons/DashboardIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/DonationsIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/LogoutIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/SettingsIcon.tsx
  donaction-frontend/src/layouts/partials/common/header/icons/index.ts
  donaction-frontend/src/layouts/partials/common/header/index.scss
  donaction-frontend/src/layouts/partials/common/header/index.tsx
  donaction-frontend/src/layouts/partials/common/header/listeners.ts
  donaction-frontend/src/layouts/partials/common/header/mobileDrawer.tsx
  donaction-frontend/src/layouts/partials/common/header/sticky.tsx
  donaction-frontend/src/layouts/partials/common/sections/klubrSupportSection/index.tsx
  donaction-frontend/src/styles/utilities.scss
Due: package_frontend:dev, package_frontend:prod, package_api:dev, package_api:prod, deploy_API:dev, deploy_FRONT:dev, deploy_API:prod, deploy_FRONT:prod

feat(frontend): add NewHpNeedHelp FAQ section to new homepage (#114)
  docs/tasks/2026_02_11_new_hp_needhelp.review.md
  donaction-frontend/src/app/(main)/new-hp/page.tsx
  donaction-frontend/src/core/helpers/getPathname.ts
  donaction-frontend/src/core/helpers/richTextToPlainText.ts
  donaction-frontend/src/layouts/partials/common/breadcrumb/index.tsx
  donaction-frontend/src/layouts/partials/mecenatPage/needHelp/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/FaqAccordion.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/NewHpNeedHelp.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/icons/ChevronIcon.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add NewHpNeedHelp FAQ section to new homepage (#114) (#144)
  docs/tasks/2026_02_11_new_hp_needhelp.review.md
  donaction-frontend/src/app/(main)/new-hp/page.tsx
  donaction-frontend/src/core/helpers/getPathname.ts
  donaction-frontend/src/core/helpers/richTextToPlainText.ts
  donaction-frontend/src/layouts/partials/common/breadcrumb/index.tsx
  donaction-frontend/src/layouts/partials/mecenatPage/needHelp/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/FaqAccordion.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/NewHpNeedHelp.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/icons/ChevronIcon.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

docs(prompts): add auto_implement flow prompt
  docs/prompts/00_flows/auto_implement.md
Due: none

docs(prompts): add branch creation strategy to auto_implement flow
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): move validation mode after issue classification
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): generate branch name per issue instead of in setup
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): add error handling for browser validation setup
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): clarify PR target branch wording
  docs/prompts/00_flows/auto_implement.md
Due: none

docs(prompts): clarify that branches are created per issue in step 2
  docs/prompts/00_flows/auto_implement.md
Due: none

feat(prompts): add configurable browser validation depth levels
  docs/prompts/00_flows/auto_implement.md
Due: none

docs(prompts): add version and last_updated metadata to auto_implement
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): add app-specific port defaults for dev server detection
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): move model selection to initial setup (step 0.3)
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): add error handling for git branch setup
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): auto-downgrade validation when browser tools unavailable
  docs/prompts/00_flows/auto_implement.md
Due: none

docs(prompts): clarify validation depth applies globally to all issues
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): address review round 3 - numbering, validation, rollback
  docs/prompts/00_flows/auto_implement.md
Due: none

fix(prompts): remove contradictory autonomous-only rule
  docs/prompts/00_flows/auto_implement.md
Due: none

docs(prompts): add branch creation strategy to auto_implement (#145)
  docs/prompts/00_flows/auto_implement.md
Due: none

feat(frontend): add NewHpCta final CTA section to new homepage (#115)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/NewHpCta.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): address PR review feedback on NewHpCta (#115)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/NewHpCta.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): remove footer top margin gap between CTA and footer (#115)
  donaction-frontend/src/layouts/partials/common/footer/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.scss
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add NewHpCta final CTA section (#115) (#146)
  donaction-frontend/src/layouts/partials/common/footer/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/NewHpCta.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): improve responsive mobile layout for all new homepage sections (#116)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFeatures/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpTimeline/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWidgetDemo/DemoWidget/index.scss
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): update Hero test assertion for responsive min-height (#116)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/NewHpHero.test.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

fix(frontend): improve responsive mobile layout for all new homepage sections (#116) (#147)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFeatures/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/NewHpHero.test.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpTimeline/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWidgetDemo/DemoWidget/index.scss
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): optimize tablet responsive layout for new homepage (768-1024px) (#117)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFeatures/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWidgetDemo/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): optimize tablet responsive layout for new homepage (768-1024px) (#117) (#148)
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFeatures/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpHero/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWidgetDemo/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod

feat(frontend): add scroll-triggered animations for new homepage sections (#118)
  donaction-frontend/src/layouts/components/ScrollAnimator.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpCta/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFeatures/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFeatures/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpFederations/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpNeedHelp/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpProjects/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpProjects/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpReassurance/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpTimeline/TimelineAnimator.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWhyDonaction/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWhyDonaction/index.tsx
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWidgetDemo/index.scss
  donaction-frontend/src/layouts/partials/newHomepage/NewHpWidgetDemo/index.tsx
Due: package_frontend:dev, package_frontend:prod, deploy_FRONT:dev, deploy_FRONT:prod
